body {
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
    margin: 0;
    background-color: #f0f0f0; 
}

.profile-box {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top-half {
    background-color: rgb(100, 100, 221);
    padding: 20px;
    text-align: center;
}

.profile-pic {
    border: 2px solid white;
    width: 80px;
    height: 80px; 
    border-radius: 50%;
}

.name {
    margin-top: 10px; 
    font-size: 1.5em; 
    color: white;
}
.prof {
    color: white;
    
}

.bottom-half {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.link {
    display: block; 
    margin: 5px 0; 
    color: rgb(100, 100, 221);
    text-decoration: none;
}
